@inherits LayoutComponentBase

<PageTitle>Fitness</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
        ide irok, h lassam, mit csinal
    </div>

    <main>
        <div class="top-row px-4">
           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
